.u-section-1 .u-sheet-1 {
  min-height: 577px;
}

.u-section-1 .u-video-1 {
  margin-top: 0;
  margin-bottom: 1px;
  height: 576px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    margin-top: 24px;
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 503px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 463px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 27px 25px;
}

.u-section-2 .u-image-1 {
  width: 213px;
  height: 213px;
  background-image: url("images/Jeniffer-0011.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-2 .u-text-1 {
  font-family: "PT Sans Caption";
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px 33px 0 59px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 11px 0 0 26px;
}

.u-section-2 .u-social-icons-1 {
  height: 45px;
  min-height: 16px;
  width: 216px;
  min-width: 100px;
  margin: 11px auto 0;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 463px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 2px 0;
}

.u-section-2 .u-text-3 {
  font-weight: normal;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 33px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 14px;
    margin-right: 0;
    width: 292px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 382px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    width: 222px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: url("images/d86ed790-924b-49cb-018f-e3624b663505.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 762px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 44px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 477px;
  margin: -86px auto 0;
}

.u-section-3 .u-image-1 {
  height: 543px;
  width: 794px;
  margin: 62px auto -21px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 810px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3 .u-image-1 {
    height: 492px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-3 .u-image-1 {
    height: 369px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 613px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 662px;
}

.u-section-4 .u-container-layout-1 {
  padding: 15px 18px;
}

.u-section-4 .u-image-1 {
  width: 333px;
  height: 303px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 19px auto 0 23px;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 59px auto 0;
  padding: 8px 10px 9px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 662px;
}

.u-section-4 .u-container-layout-2 {
  padding: 21px 0;
}

.u-section-4 .u-image-2 {
  height: 242px;
  width: 482px;
  margin: 1px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 73px auto 0 23px;
}

.u-section-4 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  margin: 59px auto 0;
  padding: 8px 12px 9px 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 781px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 28px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 781px;
  }

  .u-section-4 .u-image-2 {
    height: 223px;
    width: 434px;
    margin-top: 39px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 87px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 51px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 796px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 299px;
    height: 272px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 65px;
    margin-left: 106px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 796px;
  }

  .u-section-4 .u-image-2 {
    height: 172px;
    width: 331px;
    margin-top: 1px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 114px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 755px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 120px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 758px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 59px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 33px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 45px;
  }
}